n8n-workflow-api.json
{
  "name": "filtré · API Cafés",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook GET /cafes",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "filtre-cafes-api",
      "parameters": {
        "httpMethod": "GET",
        "path": "cafes",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Lire Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "REMPLACER_PAR_TON_BASE_ID",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Cafés",
          "mode": "name"
        },
        "filterByFormula": "{Status} = 'active'",
        "options": {
          "sort": [{ "field": "Note", "direction": "desc" }]
        }
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "REMPLACER_PAR_TON_CREDENTIAL_ID",
          "name": "Airtable"
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Formater pour le site",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const coffees = items.map(item => {\n  const f = item.json.fields;\n  return {\n    id: item.json.id,\n    name: f['Nom'] || '',\n    brand: f['Marque'] || '',\n    type: (f['Type'] || 'arabica').toLowerCase(),\n    intensity: Number(f['Intensite']) || 2,\n    acidity: Number(f['Acidite']) || 50,\n    body: Number(f['Corps']) || 50,\n    sweet: Number(f['Sucre']) || 50,\n    aromas: f['Aromes'] || [],\n    preps: f['Methodes'] || [],\n    weight: Number(f['Poids']) || 250,\n    price: Number(f['Prix']) || 0,\n    url: f['URL'] || '#',\n    icon: (f['Icone'] || 'bean').toLowerCase(),\n    rating: Number(f['Note']) || 7,\n    sca: Number(f['SCA']) || 80,\n    verdict: f['Verdict'] || ''\n  };\n});\nreturn [{ json: coffees }];"
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Répondre au site",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook GET /cafes": {
      "main": [[{ "node": "Lire Airtable", "type": "main", "index": 0 }]]
    },
    "Lire Airtable": {
      "main": [[{ "node": "Formater pour le site", "type": "main", "index": 0 }]]
    },
    "Formater pour le site": {
      "main": [[{ "node": "Répondre au site", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "filtré" }]
}
